* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 26px;
    color: #00e5ff;
}

form {
    display:block; 
    width: 600px;
    margin-bottom: 15px;
}

.section{
    margin-bottom: 30px;
    display:block; 
    width: 600px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #cfd8dc;
    font-size: 18px;
}

.input-box {
    width: 800px;
    padding: 8px;
    border: 2px solid #00e5ff;
    border-radius: 8px;
    background-color: #424242;
    color: #ffffff;
    font-size: 22px;
}

.output-box {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #00e5ff;
    border-radius: 8px;
    padding: 8px;
    font-size: 22px;
    background-color: #424242;
}

.outbox{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 12px;
    font-size: 20px;
    background-color: #2d2d2d;
    color:white;
}

.hamming-code {
    color: #ffffff;
}

.ascii-code {
    color: #686868;
    font-style: oblique;
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.button {
    padding: 12px 30px;
    border: 2px solid #00e5ff;
    border-radius: 8px;
    background-color: #607d8b;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #78909c;
    transform: translateY(-3px);
}

.grafics{
    width: 800px;
    height: 300px;
    border: 2px solid #00e5ff;
    border-radius: 8px;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #424242;
    color: #e0e0e0;
    margin-bottom: 10px;
    position: relative;
}

.info-icon {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #424242;
    color: #999797;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    cursor: pointer;
}

.info-icon:hover::before {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 999;
}

.info-icon:hover::after {
    display: none;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    color: #333;
    z-index: 1000;
}

.labels-container {
    font-size: 20px;
    color: #b1b1b1;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    letter-spacing: 54px;
    margin-left: 35px;
    margin-top: 8px;
    width: 100%;
}

.labels-contain {
    font-size: 20px;
    color: #b1b1b1;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    margin-top: 8px;
    width: 100%;
}

.icon-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
    width: 25px; 
    height: 25px;
    background-color: #ffffff00; 
    border-radius: 50%; 
    text-decoration: none;
    color: rgb(175, 168, 168); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.075);
    z-index: 10;
}

.icon-button:hover {
    background-color: #ffffff00;
    transform: scale(1.1); 
}

.image{
    background-color: #424242;
}

