* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle at center, #ff80ab, #6ec6ff, #1e88e5);
    color: #ffffff;
}

.sidebar-layout {
    display: flex;
    width: 100vw;
    height: 101vw;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #2d2d2d;
    color: #00e5ff;
    padding-top: 20px;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav a {
    display: block; 
    color: #ffffff;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    font-weight: bold;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    transition: background-color 0.3s ease;
    font-weight: 700;
}

nav a:hover {
    background-color: #414141;

}

nav a.active{
    background-color: #71777a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    padding: 30px;
    margin: auto;
    background-color: #2d2d2d;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: #00e5ff;
    margin-top: 4%;
}
.container-view {
    display: flex;
    flex-direction: column;
    width: 950px;
    padding-left: 75px;
    padding-top: 35px;
    margin: auto;
    background-color: #2d2d2d;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: #00e5ff;
    margin-top: 4%;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: #00e5ff;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    font-size: 25px;
    color: #b39ddb;
    margin-bottom: 20px; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    background-color: #2d2d2d;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    color: #8e8e8e;
}

.card a {
    color: #b39ddb;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
}

.card a:hover {
    color: #00e5ff;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
}

.footer-fixed a {
    color: #62c3ff;
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
}

.footer-fixed a:hover {
    text-decoration: underline;
}

.footer-fixed .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

